body {
    background: pink !important; 
    padding:8px;
    color:white !important;
    font-size:20px !important;
}

#authorsNote{
    position: relative;
    float:right;
    color:white;
    text-decoration:bold;
}

.jumbotron{
    text-align:center;
    background:rgb(253, 152, 169) !important;
    color:white !important;
}
.jumbotron h1{
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: center;
    font-family: sans-serif;
    font-size: 3rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: #fff;
    text-shadow: -4px 4px #ef3550,
                    -8px 8px #f48fb1,
                    -12px 12px #ffafc9,
                    -16px 16px #ff5b8f,
                    -20px 20px #e794af,
                    -24px 24px #fa1e63,
                    -28px 28px #f3bacc,
                    -32px 32px #ff5b8f,
                    -36px 36px #ff5722;
}

a{
    color:white !important;
}

.nav-item{
    background-color:rgb(248, 167, 181) !important;
}
.nav-item-active{
    background-color:rgb(250, 156, 171) !important;
}

.nav-item:hover{
    background-color:rgb(250, 156, 171) !important;
}

h1{
    text-align:center;
    color:white;
    text-shadow: 0 2px 1px #ef3550;
}

h2{
    text-align:center;
        color:white;
    text-shadow: 0 2px 1px #ef3550;
}

h4{
    text-align:center;
}

.highlight:hover {
    background-color:rgb(253, 152, 169) ;
}

.tabbysImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

html {
    cursor: url("./computer-mouse.svg") 16 16, pointer;
  }

  #dropdown, #dropdown ul
{
	list-style: none;
	border: 1px solid #000;
	background-color: #ecffec;
	padding: 0 0 26px 0;
	margin: 0;
}

#dropdown li
{
	float: left;
	margin-right: 3px;
	border: 1px solid #ecffec;
	position: relative;
}
#dropdown ul
{
	position: absolute;
	top: 25px;
	left: -1px;
	width: 200px;
	padding: 0;
	display: none;
}
#dropdown ul li
{
	float: none;
	margin: 0;
	padding: 0;
	line-height: 15px;
}
#dropdown a:link, #dropdown a:visited
{
	display: block;
	font-family: Tahoma;
	font-size: 0.75em;
	font-weight: bold;
	text-align: left;
	text-decoration: none;
	color: #000;
	padding: 5px;
}
#dropdown li:hover
{
	background-color: #ffd98a;
	border: 1px solid #000;
}
#dropdown li:hover ul
{
	display: block;
}

ul{
    border-left:4px solid #ef3550;
    list-style-type:none;
    text-decoration:bold;
    background-color:rgb(226, 172, 181);
}
img{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

button{
    border-radius:5px;
    color:white;
    background-color:pink;
    border:4px solid white;
    padding:10px;
}

#buttonDiv{
    text-align:center;
}