body {
    background: pink !important; 
    padding:5px;
    color:white !important;
}

#authorsNote{
    position: relative;
    float:right;
    color:white;
    text-decoration:bold;
}

.jumbotron{
    text-align:center;
    background:rgb(253, 152, 169) !important;
    color:white !important;
}

a{
    color:white !important;
}

.nav-item{
    background-color:rgb(248, 167, 181) !important;
}
.nav-item-active{
    background-color:rgb(250, 156, 171) !important;
}

.nav-item:hover{
    background-color:rgb(250, 156, 171) !important;
}

#bodyTitle{
    text-align:center;
    color:white;
    text-decoration:bold;
}

h2{
    text-align:center;
}

h4{
    text-align:center;
}

.highlight:hover {
    background-color:rgb(253, 152, 169) ;
}

.tabbysImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

html {
    cursor: url("./computer-mouse.svg") 16 16, pointer;
  }

  #dropdown, #dropdown ul
{
	list-style: none;
	border: 1px solid #000;
	background-color: #ecffec;
	padding: 0 0 26px 0;
	margin: 0;
}

#dropdown li
{
	float: left;
	margin-right: 3px;
	border: 1px solid #ecffec;
	position: relative;
}
#dropdown ul
{
	position: absolute;
	top: 25px;
	left: -1px;
	width: 200px;
	padding: 0;
	display: none;
}
#dropdown ul li
{
	float: none;
	margin: 0;
	padding: 0;
	line-height: 15px;
}
#dropdown a:link, #dropdown a:visited
{
	display: block;
	font-family: Tahoma;
	font-size: 0.75em;
	font-weight: bold;
	text-align: left;
	text-decoration: none;
	color: #000;
	padding: 5px;
}
#dropdown li:hover
{
	background-color: #ffd98a;
	border: 1px solid #000;
}
#dropdown li:hover ul
{
	display: block;
}