body {
    background: pink !important; 
    padding:5px;
    color:white !important;
}

#authorsNote{
    position: relative;
    float:right;
    color:white;
    text-decoration:bold;
}

.jumbotron{
    text-align:center;
    background:rgb(253, 152, 169) !important;
    color:white !important;
}

a{
    color:white !important;
}

.nav-item{
    background-color:rgb(248, 167, 181) !important;
}
.nav-item-active{
    background-color:rgb(250, 156, 171) !important;
}

.nav-item:hover{
    background-color:rgb(250, 156, 171) !important;
}

#bodyTitle{
    text-align:center;
    color:white;
    text-decoration:bold;
}

h2{
    text-align:center;
}

h4{
    text-align:center;
}

.highlight:hover {
    background-color:rgb(253, 152, 169) ;
}